<!--
 * @Author: ssyx ssyx@gmail.com
 * @Date: 2022-09-26 15:16:27
 * @LastEditors: ssyx ssyx@gmail.com
 * @LastEditTime: 2022-09-26 15:20:55
 * @FilePath: \vsFile\myVscode\vue\2、vue事件相关\计算器.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="">
    <style></style>
</head>

<body>

    <div id='root'>
        <input type="text" v-model="first" @input="cal">
        <select v-model="char" @change="cal">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>

        </select>
        <input type="text" v-model="second" @input="cal">={{res}}

    </div>
    <script src="./js/vue.js"></script>
    <script>
        new Vue({
            el: '#root',
            data: {
                first: 1,
                second: 1,
                char: "+",
                res: 2
            },
            methods: {
                cal () {
                    this.res = eval(this.first + this.char + this.second)
                }
            },
            
        })
    </script>
</body>

</html>