<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<!-- if -->
			<p v-if='status'>显示隐藏</p>
			
			<!-- if-else -->
			<p v-if='num>5'>奖励ipad</p>
			<p v-else>奖励大嘴巴子</p>
			
			<!-- if-else if -->
			<p v-if='store>=90'>奖励ipad</p>
			<p v-else-if='store>=80'>奖励手机</p>
			<p v-else-if='store>=70'>奖励钢笔</p>
			<p v-else>抄代码</p>
			
		</div>
		<script src="./js/vue.js"></script>
		<script>
			new Vue({
				el:'#app',
				data:{
					num:10,
					store:60,
					status:true
				}
			})
		</script>
	</body>
</html>