<!--
 * @Author: ssyx ssyx@gmail.com
 * @Date: 2022-09-23 17:18:04
 * @LastEditors: ssyx ssyx@gmail.com
 * @LastEditTime: 2022-09-23 19:21:50
 * @FilePath: \vsFile\myVscode\vue\vue基础\作业.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="">
    <style></style>
</head>

<body>
    <div id="root">
        <h3>第一题 方法1</h3>
        <button @click="status=status==false?true:false">点击隐藏显示</button>
        <p v-if="status==true">你好</p>
        <h3>第一题 方法2</h3>
        <button @click="num++">点击隐藏显示</button>
        <p v-if="num%2==0">你好</p>
        <hr>
        <h3>第二题</h3>
        <button @click="num1++">{{num1}}</button>
        <hr>
        <h3>第三题</h3>
        <input type="checkbox" v-model="status">
        <button :disabled="!status">同意</button>



    </div>
    <script src="./js/vue.js"></script>
    <script>
        new Vue({
            el: "#root",
            data: {
                status: false,
                num: 0,
                num1: 1,
                status: false,
                obj: {
                    userName: "",
                    content: "",
                },
                arr: []
            },
            methods: {
                addTask () {
                    this.arr.unshift({ ...this.obj });
                    this.obj = { userName: "", content: "" }
                },
                delTask (obj) {
                    let index = this.arr.indexOf(obj);
                    this.arr.splice(index, 1)
                }
            }
        })
    </script>
</body>

</html>