.wrapper {
	width: 380px;
	/* border: 1px solid ; */
	margin: 10px auto;
	box-shadow: 10px 10px 20px #686868;
	/* height: 800px; */
}

.wrapper>.main {
	height: 150px;
	width: 500px;
}

.wrapper>.main>img,
.wrapper>.main>div {
	float: left;
}

.wrapper>.main>img {
	margin-top: 15px;
	width: 130px;
}

.wrapper>.main>div {
	margin-left: 20px;
	width: 215px;
	height: 140px;
}
.wrapper>.main>div h3{
	margin-top: 15px;
}
.wrapper>.main>div p:nth-of-type(1) {
	color: #686868;
	line-height: 30px;
	font-size: 14px;
	padding-top: 10px;
}

.wrapper>.main>div p:nth-of-type(2) {
	color: #87C7FB;
	line-height: 30px;
	font-size: 14px;
}
