body {
  overflow-x: hidden;
}
header .head_top {
  width: 100%;
  height: 36px;
  background-color: #313131;
  color: red;
}
header .head_top ul {
  display: flex;
  justify-content: left;
  width: 1366px;
  margin: 0 auto;
  line-height: 36px;
  /* align-items: center; */
  font-size: 12px;
}
header .head_top ul .pos {
  margin-left: 950px;
}
header .head_top ul li {
  padding: 0 10px;
}
header .head_top ul li span {
  font-size: 10px;
}
header .head_top ul a {
  display: inline-block;
  height: 30px;
  /* width: 100%; */
  color: #fff;
  /* text-decoration: underline; */
}
header .head_top ul a:hover {
  /* text-decoration: underline; */
  border-bottom: 1px solid #fff;
}
header .title {
  width: 1035px;
  margin: 0 auto;
  padding-top: 40px;
  height: 36px;
}
header .title .logo {
  width: 383px;
  margin-left: 326px;
  float: left;
}
header .title .logo img {
  height: 36px;
}
header .title .login_wrapper {
  float: right;
}
header .title .login_wrapper i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 25px;
}
header .title .login_wrapper i:nth-of-type(1) {
  background: url("../img/10009.jpg") no-repeat center center;
  background-size: 25px 25px;
}
header .title .login_wrapper i:nth-of-type(1):hover {
  background: url("../img/10010.jpg") no-repeat center center;
  background-size: 25px 25px;
}
header .title .login_wrapper i:nth-of-type(2) {
  background: url("../img/gowuche.png") no-repeat center center;
  background-size: 25px 25px;
}
header .title .login_wrapper i:nth-of-type(2):hover {
  background: url("../img/10008.jpg") no-repeat center center;
  background-size: 25px 25px;
}
header nav {
  width: 100%;
  margin-top: 40px;
}
header nav .nav_out {
  font-size: 14px;
  padding-bottom: 10px;
  font-family: 'Microsoft YaHei';
  font-weight: bold;
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  position: relative;
}
header nav .nav_out li {
  height: 30px;
}
header nav .nav_out li a {
  color: #000;
  display: block;
  line-height: 24px;
}
header nav .nav_out li .nav_inner {
  position: absolute;
  z-index: 100;
  display: none;
  width: 800px;
  justify-content: space-around;
  margin-top: 10px;
  background-color: #fafafa;
}
header nav .nav_out li .nav_inner a {
  display: block;
  width: 100%;
  color: #9b9b9b;
}
main .title {
  width: 1035px;
  margin: 0 auto;
}
main .title h2,
main .title p {
  width: inherit;
  text-align: center;
}
main .title p {
  color: #707070;
  font-size: 13px;
  padding: 8px 0;
}
main .index_recommend {
  width: 100%;
  padding-top: 60px;
}
main .index_recommend .img_list {
  width: 100%;
}
main .index_recommend .img_list .img_line {
  width: 1035px;
  margin: 0 auto;
}
main .index_recommend .img_list .img_line ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
main .index_recommend .img_list .img_line ul li {
  width: 248px;
  position: relative;
}
main .index_recommend .img_list .img_line ul li .content {
  width: 248px;
}
main .index_recommend .img_list .img_line ul li .content img {
  width: 100%;
}
main .index_recommend .img_list .img_line ul li .unionPrice h4,
main .index_recommend .img_list .img_line ul li .unionPrice p {
  width: 100%;
  text-align: center;
}
main .index_recommend .img_list .img_line ul li .unionPrice h4 a {
  color: #313131;
}
main .index_recommend .img_list .img_line ul li .unionPrice .realPrice {
  color: #e56a69;
}
main .index_recommend .img_list .img_line ul li .unionPrice .realPrice i {
  display: inline-block;
  font-style: normal;
}
main .index_recommend .img_list .img_line ul li .unionPrice .prevPrice {
  text-decoration: line-through;
  color: #a0a0a0;
  font-size: 12px;
}
main .index_recommend .img_list .img_line ul li .unionPrice label {
  display: inline-block;
  padding: 6px 7px;
  font-size: 12px;
  margin: 4px 2px;
  background: #ffeded;
  color: #e56a69;
}
main .index_recommend .img_list .img_line ul li .unionPrice em {
  display: inline-block;
  padding: 6px 7px;
  font-size: 12px;
  margin: 4px 2px;
  background: #f6f6f6;
  color: #707070;
  font-style: normal;
}
main .index_recommend .img_list .img_line ul li .li_cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 248px;
  height: 326px;
  display: none;
}
main .index_recommend .img_list .img_line ul li .li_cover .bor_cover {
  height: 248px;
  overflow: hidden;
}
main .index_recommend .img_list .img_line ul li .li_cover .bor_cover p {
  box-sizing: border-box;
  width: 148px;
  margin: 60px auto;
  height: 103px;
  border: 3px solid #313131;
  padding: 15px 8px;
  text-align: center;
}
main .index_recommend .img_list .img_line ul li .li_cover .text_cover {
  text-align: center;
  font-size: 14px;
  padding-top: 15px;
  border-top: 1px solid lightgray;
}
main .index_recommend .img_list .img_line #more_sofa {
  width: 120px;
  height: 120px;
  border: 7px solid #A0A0A0;
  margin: 96px auto;
}
main .index_recommend .img_list .img_line #more_sofa:hover {
  opacity: 0.7;
}
main .index_recommend .img_list .img_line #more_sofa a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .index_recommend .img_list .img_line #more_sofa a p {
  width: 40px;
  margin: 39px auto;
}
main .index_story {
  width: 100%;
}
main .index_story .story_content {
  width: 1035px;
  margin: 0 auto;
  padding-top: 60px;
}
main .index_story .story_content .anli {
  margin-top: 20px;
}
main .index_story .story_content .anli ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
main .index_story .story_content .anli ul li {
  width: 332px;
  margin-bottom: 50px;
}
main .index_story .story_content .anli ul li img {
  width: 332px;
  height: 187px;
}
main .index_story .story_content .anli ul li .img_container:hover {
  opacity: 0.8;
  transition: 0.5s;
}
main .index_story .story_content .anli ul li .anli_text {
  margin-left: 10px;
}
main .index_story .story_content .anli ul li .anli_text h3 {
  font-size: 15px;
  padding: 5px 0;
}
main .index_story .story_content .anli ul li .anli_text h3 a {
  color: #313131;
}
main .index_story .story_content .anli ul li .anli_text p {
  font-size: 13px;
  color: #a0a0a0;
}
main .index_designer {
  width: 100%;
  padding-top: 80px;
}
main .index_designer .designer_container {
  width: 1035px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
main .index_designer .designer_container .designer_left {
  width: 530px;
}
main .index_designer .designer_container .designer_left img {
  width: 530px;
  height: 344px;
}
main .index_designer .designer_container .designer_right .right_top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
}
main .index_designer .designer_container .designer_right .right_top img {
  width: 240px;
  height: 168px;
}
main .index_designer .designer_container .designer_right .right_bottom img {
  width: 487px;
  height: 168px;
}
main .live_designer {
  width: 100%;
  height: 200px;
}
main .live_designer .live_designer {
  background: url("../img/bg.jpg") no-repeat center top;
  background-size: 100%, 100%;
}
main .live_designer .live_designer .live_center {
  width: 1035px;
  margin: 0 auto;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .live_designer .live_designer .live_center .live_container {
  color: #fff;
  width: 258px;
}
main .live_designer .live_designer .live_center .live_container i {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
main .live_designer .live_designer .live_center .live_container p {
  font-size: 9px;
  line-height: 9px;
  padding: 5px;
  width: 258px;
  text-align: center;
}
main .live_designer .live_designer .live_center .live_container p:hover {
  opacity: 0.7;
}
main .live_designer .live_designer .live_center .live_container b {
  display: block;
  font-size: 28px;
  width: 258px;
  text-align: center;
}
main .live_designer .live_designer .live_center .live_container b:hover {
  opacity: 0.7;
}
main .live_designer .live_designer .live_center .live_container:nth-of-type(1) i {
  background: url("../img/xb.png") no-repeat 0 0;
}
main .live_designer .live_designer .live_center .live_container:nth-of-type(1) i:hover {
  background: url(../img/xb.png) no-repeat 0 -64px;
}
main .live_designer .live_designer .live_center .live_container:nth-of-type(2) i {
  background: url("../img/xb.png") no-repeat -64px 0;
}
main .live_designer .live_designer .live_center .live_container:nth-of-type(2) i:hover {
  background: url(../img/xb.png) no-repeat -64px -64px;
}
main .live_designer .live_designer .live_center .live_container:nth-of-type(3) i {
  background: url("../img/xb.png") no-repeat -128px 0;
}
main .live_designer .live_designer .live_center .live_container:nth-of-type(3) i:hover {
  background: url(../img/xb.png) no-repeat -128px -64px;
}
main .live_designer .live_designer .live_center .live_container:nth-of-type(4) i {
  background: url("../img/xb.png") no-repeat -200px 0;
}
main .live_designer .live_designer .live_center .live_container:nth-of-type(4) i:hover {
  background: url(../img/xb.png) no-repeat -200px -64px;
}
main .oldGoods {
  width: 100%;
  padding-top: 60px;
}
main .oldGoods .sofa_title {
  padding-top: 40px;
  width: 1035px;
  margin: 0 auto;
  line-height: 46px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D2D2D2;
}
main .oldGoods .sofa_title div:nth-of-type(1) {
  font-size: 20px;
  font-weight: bold;
  color: #313131;
}
main .oldGoods .sofa_title div:nth-of-type(2) {
  font-size: 14px;
}
main .index_order {
  width: 100%;
  padding-top: 60px;
}
main .index_order .order_container {
  width: 100%;
  margin: 0 auto;
}
main .index_order .order_container ul {
  display: flex;
}
main .index_order .order_container ul li {
  position: relative;
  width: 20%;
  margin-right: 10px;
}
main .index_order .order_container ul li:hover .cover {
  display: block;
}
main .index_order .order_container ul li:hover ._img {
  opacity: 0.3;
}
main .index_order .order_container ul li img {
  width: 100%;
}
main .index_order .order_container ul li .cover {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
main .index_order .order_container ul li .cover .tx {
  width: 60px;
  margin: 0 auto;
  padding-top: 5px;
}
main .index_order .order_container ul li .cover .tx img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
main .index_order .order_container ul li .cover .text {
  font-size: 12px;
  width: 55%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 5px;
}
main .index_order .order_container ul li .cover .coupon {
  box-sizing: border-box;
  width: 55%;
  text-align: center;
  margin: 0 auto;
  padding: 3px;
  font-size: 12px;
  border: 5px solid #e9c16f;
}
