header {
    nav {
        .head2 {
            display: none;
            width: 100%;
            height: 50px;
            background-color: #000;
            color: #fff;
            position: relative;
            // z-index: 1000;



            .head2_nav {
                width: 1050px;
                margin: 0 auto;
                font-size: 14px;
                display: flex;
                justify-content: space-between;
                position: relative;
                z-index: 100;

                .prev {
                    height: 50px;
                    width: 422px;
                    display: flex;
                    justify-content: space-around;

                    li {
                        width: 103px;
                        text-align: center;
                        // line-height: 50px;
                        position: relative;

                        i {
                            display: block;
                            position: absolute;
                            top: 9px;
                            right: 16px;
                            font-size: 12px;
                            font-style: normal;
                        }

                        a {
                            display: block;
                            margin-top: 15px;
                            border-right: 1px solid #fff;
                            height: 20px;
                            color: #fff;

                        }

                    }

                    li:nth-of-type(4) {
                        i {
                            right: 20px;
                        }
                    }

                    li:nth-of-type(4) a {
                        border: none !important;
                    }
                }

                .head2_btn {
                    display: flex;
                    justify-content: space-around;

                    li {
                        padding-top: 10px;
                        padding-left: 10px;


                        button {
                            color: #fff;
                            width: 100%;
                            height: 30px;
                            outline: none;
                            position: relative;

                            i {
                                display: inline-block;
                                width: 18px;
                                height: 18px;
                            }

                            label {
                                position: absolute;
                                display: block;
                                width: 14px;
                                height: 12px;
                                border-radius: 7px;
                                background-color: #e56a69;
                                top: 2px;
                                left: 32px;
                                font-size: 12px;

                            }
                        }

                    }

                    li:nth-of-type(1) button {
                        width: 130px;

                        background: #e56a69;
                        border: 1px solid #e56a69;

                    }

                    li:nth-of-type(2) button {
                        width: 107px;

                        background: #000;
                        border: 1px solid #fff;

                    }
                }
            }
        }
    }
}

main {
    .item_header {
        margin-top: 50px;
        padding-top: 80px;
        padding-bottom: 40px;
        width: 100%;

        .img_details {
            width: 1134px;
            margin: 0 auto;
            display: flex;
            // align-items: center;
            z-index: -1;


            .img_container {
                width: 750px;
                // position: relative;
                // z-index: -1;


                .wrapper {
                    margin-top: 80px;
                    margin-left: 100px;

                }

                .little {
                    width: 540px;
                    height: 300px;
                    /* border: 1px solid black; */
                    position: relative;
                    // z-index: -1;
                }

                /* 小图 */
                .little img {
                    width: 540px;
                    height: 300px;
                }

                /* 小放大镜 */
                .little .mark {
                    width: 270px;
                    height: 150px;
                    background-color: skyblue;
                    opacity: 0.5;
                    position: absolute;
                    left: 0;
                    top: 0;
                    /* 默认隐藏 */
                    display: none;
                }

                /* 大放大镜 */
                .no {
                    position: absolute;
                }

                .great {
                    width: 810px;
                    height: 450px;
                    /* border: 1px solid red; */
                    overflow: hidden;
                    position: relative;
                    z-index: 1000;
                    /* 默认隐藏 */
                    display: none;
                    background-color: #fff;
                }

                .great img {
                    width: 1620px;
                    height: 900px;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }

            .sofa_data {
                width: 375px;
                // position: relative;
                // z-index: 1;

                ._title {
                    font-size: 26px;
                    padding-bottom: 10px;

                    span:nth-of-type(2) {
                        border-left: 1px solid black;
                        padding-left: 8px;
                    }

                }

                .price {
                    padding-bottom: 20px;

                    span:nth-of-type(1) {
                        color: #e56a69;
                        font-size: 28px;
                    }

                    span:nth-of-type(2) {
                        color: #a0a0a0;
                        text-decoration: line-through;
                        padding-right: 10px;
                    }
                }

                .jump {
                    padding-bottom: 15px;

                    button {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 15px;
                        border-radius: 2px;
                        border: none;
                        outline: none;
                        color: #fff;
                        font-size: 14px;
                        line-height: 40px;
                        width: 100%;
                        background: #e56a69;

                    }
                }

                .saledesc,
                .expresstime {
                    z-index: -1;
                    margin-bottom: 15px;
                    width: 100%;

                    font-size: 14px;
                    color: #313131;
                    background: #ffebe8;

                    span {
                        display: block;
                        padding: 10px 15px;
                    }
                }

                .expresstime {
                    background: #f9f9f9;

                    label {
                        font-weight: 700;
                        color: #e56a69;
                    }
                }

                .sofa_color,
                .skudesc_box,
                .skudesc_box2 {
                    z-index: -1;

                    padding-top: 35px;

                    span {
                        display: inline-block;
                        border: 1px solid lightgray;
                        border-radius: 2px;
                        margin-right: 5px;
                        position: relative;

                        i {
                            display: none;
                            position: absolute;
                            right: 0;
                            bottom: 0;

                            width: 0px;
                            height: 0px;

                            // background-color: black;
                            border: 5px solid transparent;
                            border-top: 5px solid transparent;
                            border-left: 5px solid transparent;
                            border-bottom: 5px solid black;
                            border-right: 5px solid black;
                            border-radius: 1px;
                        }

                        img {
                            width: 32px;
                            height: 32px;
                            padding: 3px;
                        }
                    }

                    .text {
                        width: 75px;
                        height: 40px;
                        line-height: 40px;
                        border: none;
                        // text-align: justify;
                    }



                }

                .skudesc_box,
                .skudesc_box2 {
                    span:not(.text) {
                        height: 40px;
                        line-height: 40px;
                        padding: 0 10px;
                        border: 1px dashed lightgray;
                    }

                    span:nth-of-type(4) {
                        margin-left: 85px;
                        margin-top: 10px;
                    }
                }



                ._count {
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-around;

                    .get_count {
                        display: flex;
                        width: 75px;
                        border: 2px solid black;

                        input {
                            display: block;
                            width: 50px;
                            outline: none;
                            border: none;
                            text-align: center;
                        }

                        .btn {
                            button {
                                display: block;
                                border: none;
                                outline: none;
                                width: 25px;
                                height: 25px;
                                border-left: 1px solid black;
                                border-bottom: 1px solid black;
                                background-color: #fff;
                            }

                            button:nth-of-type(2) {
                                border-bottom: none;
                            }
                        }

                    }

                    .shop_now,
                    .add_gwc {

                        height: 50px;
                        line-height: 50px;
                        font-size: 24px;
                        border: 2px solid black;
                        text-align: center;
                    }

                    .shop_now {
                        width: 110px;

                        &:hover {
                            color: #fff;
                            background-color: #000;
                        }
                    }

                    .add_gwc {
                        width: 145px;
                        color: #fff;
                        background-color: #000;
                    }
                }



            }

        }


    }

    .details_01 {
        width: 100%;
        height: 450px;

        color: #fff;


        .details_01_bg {
            width: 100%;
            height: 450px;

            // position: relative;
            background: url(../img/details_01.jpg) no-repeat center top;
            background-size: 100% 100%;
            z-index: -1;

            .container {
                display: flex;
                justify-content: space-between;
                width: 900px;
                margin: 0 auto;
                // position: absolute;
                // top: 0;


                .content_left {
                    // width: 900px;
                    // height: 110px;

                    // border: 1px solid #fff;
                    .tx {
                        padding-top: 90px;

                        img {
                            width: 104px;
                            height: 104px;
                        }
                    }

                    h4 {
                        line-height: 56px;
                        font-size: 28px;
                    }

                    p {
                        font-size: 24px;
                    }

                    a {
                        display: block;
                        margin-top: 20px;
                        width: 96px;
                        line-height: 30px;
                        text-align: center;
                        padding: 0 10px;
                        color: #fff;
                        border: 2px solid #fff;
                        border-radius: 0.9375rem;
                        font-size: .875rem;

                        &:hover {
                            color: #000;
                            background-color: #fff;
                        }
                    }
                }

                .content_right {
                    box-sizing: border-box;
                    margin-top: 200px;
                    width: 430px;
                    font-size: 12px;
                    padding: 0 15px;

                    span {

                        line-height: 1.8;
                    }
                }
            }
        }
    }

    .details_02 {
        width: 100%;
        margin-top: 50px;

        .details {
            width: 1000px;
            margin: 0 auto;

            img {
                width: 1000px;
                height: 563px;

            }
        }

        .container {
            width: 100%;
            margin-top: 40px;

            .img_container {
                width: 1200px;

                display: flex;
                justify-content: left;
                flex-wrap: wrap;
                margin: 0 auto;
                padding: 0 30px;
                box-sizing: border-box;

                li {
                    width: 120px;
                    margin: 0 20px;
                    text-align: center;

                    img {
                        width: 90px;
                        height: 90px;
                    }

                    p {
                        font-size: 12px;
                        width: 100%;
                        text-align: center;
                    }

                    span {
                        display: inline-block;
                        // width: 3px;
                        // width: 33%;
                        border-bottom: 3px solid #a0a0a0;
                    }
                }
            }
        }


    }

    .details_03 {
        width: 100%;

        div {
            width: 100%;
            margin: 20px 0;

            // margin: 0 auto;
            img {
                width: 100%
            }
        }
    }
}

.download {
    position: fixed;
    right: -1px;
    bottom: 80px;
    font-size: 14px;
    color: #707070;
    background-color: #fff;
    opacity: 0.7;
    // width: 100px;
    // height: 100px;

    ul {
        border: 1px solid black;
        width: 69px;


        li {
            width: 69px;
            height: 85px;
            // line-height: 85px;
            text-align: center;

            label {
                display: inline-block;
                border-bottom: 1px solid #707070;
                width: 45px;
                margin: 0 auto;

            }

            .kf {
                display: none;
                margin-top: 15px;
            }

            div {
                overflow: hidden;
            }

            span {
                display: block;
            }

            .fa-heart-o {
                margin-top: 15px;
            }

            .icon-kefu {
                margin-top: 15px;
            }

            a {
                color: #707070;
            }

            &:hover {
                color: #000;
            }

            &:hover a {
                color: #000;
            }

        }

        .toTop {
            display: none;
        }
    }

}