main {
    .main_bg {
        width: 100%;

        .container {
            width: 99%;

            margin: 0 auto;

            img {
                width: 100%;

            }
        }
    }

    .login_form {
        position: fixed;
        top: 50%;
        margin-left: -232px;
        margin-top: -234px;
        left: 50%;
        width: 464px;
        height: 468px;
        background-color: #fff;

        form {
            .back {
                width: 100%;
                padding: 10px 20px;

                a {
                    display: block;
                    color: #A0ABC3;
                }

            }

            h4 {
                width: 100%;
                text-align: center;
                font-size: 17px;
                padding-top: 20px;
            }

            input {

                border: none;
                outline: none;
                font-size: 14px;
                background-color: #fff;
            }

            .inp_tel {
                width: 280px;
                margin: 0 auto;
                padding-top: 50px;
                line-height: 42px;
                border-bottom: 1px solid #D2D2D2;

                .inp_tel {
                    input {
                        width: 100%;
                    }
                }
            }

            .yzm {
                width: 280px;
                margin: 0 auto;
                padding-top: 30px;
                line-height: 42px;

                input {
                    width: 170px;
                    line-height: 42px;
                    border-bottom: 1px solid #D2D2D2;
                }

                button {
                    display: inline-block;
                    outline: none;
                    border: none;
                    width: 94px;
                    border-radius: 5px;
                    line-height: 40px;
                    text-align: center;
                    margin-left: 10px;
                    background-color: #D2D2D2;
                    color: #fff;
                    // border: 1px solid red;
                }
            }

            .sub {
                width: 280px;
                padding-top: 42px;
                margin: 0 auto;

                input {
                    width: 100%;
                    line-height: 38px;
                    background-color: #D2D2D2;
                    color: #fff;
                    border-radius: 5px;

                }
            }

            p {
                width: 280px;
                margin: 0 auto;
                font-size: 12px;
                padding-top: 28px;
                text-align: center;
                color: #a0a0a0;

                a {
                    display: inline-block;
                    color: #000;

                    &:hover {
                        color: #a0a0a0;
                    }
                }
            }

        }
    }

}