.foot_control {
	position: fixed;
	bottom: 0;
	width: 3.75rem;
	height: 0.87rem;
	background-color: #eee;
}

.foot_nav {
	display: flex;
	justify-content: space-around;
	margin-bottom: 0.20rem;
	margin-top: 0.07rem;
}

.foot_nav p {
	width: 1rem;
	text-align: center;
	color: #333;
}

.foot_nav i {
	display: block;
	width: 0.2rem;
	height: 0.19rem;

}

.index i {
	background: url(../img/底部导航栏_房子_跳转主页.png) no-repeat center center;
	background-size: 0.2rem 0.19rem;
	margin-left: 0.4rem;
}

.index:hover i {
	background: url(../img/底部导航栏_房子_跳转.png) no-repeat center center;
	background-size: 0.2rem 0.19rem;
	margin-left: 0.4rem;
}

.lxr i {
	background: url(../img/微笑.png) no-repeat center center;
	background-size: 0.2rem 0.19rem;
	margin-left: 0.4rem;
}

.lxr:hover i {
	background: url(../img/微12笑.png) no-repeat center center;
	background-size: 0.2rem 0.19rem;
	margin-left: 0.4rem;
}

.myself i {
	background: url(../img/灯泡01.png) no-repeat center center;
	background-size: 0.15rem 0.19rem;
	margin-left: 0.41rem;
}
.myself:hover i{
	background: url(../img/灯泡02.png) no-repeat center center;
	background-size: 0.15rem 0.19rem;
	margin-left: 0.41rem;
}
.foot_control .control {
	width: 1.34rem;
	height: 0.05rem;
	background-color: black;
	border-radius: 0.05rem;
	margin: 0.1rem auto;
}

.foot_nav div {
	width: 1rem;

}

.foot_nav div img {
	/* text-align: center; */
	margin-left: 0.3rem;
}

.foot_nav div a {
	display: block;
}
