<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			.active{
				background-color: red;
			}
		</style>
	</head>
	<body>
		<!-- 创建容器 -->
		<div id="app">
			 <button :class="num==1?'active':''" type="button" @click='num=1'>vue</button>
			 <button :class="num==2?'active':''" type="button" @click='num=2'>react</button>
			 <button :class="num==3?'active':''" type="button" @click='num=3'>angular</button>
			 <div v-if='num==1'>vue内容</div>
			 <div v-if='num==2'>react内容</div>
			 <div v-if='num==3'>angular内容</div>
		</div>
		<!-- 引入vue -->
		<script src="./js/vue.js"></script>
		<script>
			// 初始化vue实例
			new Vue({
			   el:'#app',
			   data:{
				  num:1
			   }
			})
		</script>
	</body>
</html>