<!--
 * @Author: ssyx ssyx@gmail.com
 * @Date: 2022-09-23 16:59:11
 * @LastEditors: ssyx ssyx@gmail.com
 * @LastEditTime: 2022-09-23 17:14:14
 * @FilePath: \vsFile\myVscode\vue\vue基础\todoList简约版.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="">
    <style></style>
</head>

<body>
    <div id="root">
        <!-- <p>{{obj.title}}</p> -->
        <input type="text" v-model="obj.title" @keyup.enter="addTask">
        <ul>
            <li v-for="obj in arr">
                <input type="checkbox" v-model="obj.status">
                {{obj.title}}
                <button @click="delTask(obj)">X</button>
            </li>
        </ul>
    </div>
    <script src="./js/vue.js"></script>
    <script>
        new Vue({
            el: "#root",
            data: {
                obj: {
                    title: "",
                    status: false
                },
                arr: []
            },
            methods: {
                addTask () {
                    console.log(this.obj);
                    this.arr.unshift({ ...this.obj })
                    console.log(this.arr);
                    // this.obj = { title: "", status: false }
                },
                delTask (obj) {
                    let index = this.arr.indexOf(obj);
                    this.arr.splice(index, 1)
                }
            }
        })
    </script>
</body>

</html>