<!--
 * @Author: ssyx ssyx@gmail.com
 * @Date: 2022-09-23 13:58:37
 * @LastEditors: ssyx ssyx@gmail.com
 * @LastEditTime: 2022-09-23 14:10:20
 * @FilePath: \vsFile\myVscode\vue\vue基础\v-for.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="root">
        <p v-for="(item,key) in obj">
            {{key}}-->{{item}}
        </p>
        <p v-for="(item,index) in arr">
            {{index}}-->{{item}}
        </p>
        <p v-for="(item,index) in str">
            {{index}}-->{{item}}
        </p>
        <p v-for="(obj,index) in arrObj">
            {{index}}-->{{obj.name}}-->{{obj.age}}
        </p>
    </div>
    <script src="./js/vue.js"></script>
    <script>

        new Vue({
            el: "#root",
            data: {
                obj: {
                    name: "张三",
                    age: 20
                },
                arr: ["张三", '李四', '王五'],
                str: "hello world",
                arrObj: [{
                    name: "张三",
                    age: 20
                }, {
                    name: "李四",
                    age: 20
                }]
            }
        })
    </script>
</body>

</html>