<!--
 * @Author: ssyx ssyx@gmail.com
 * @Date: 2022-09-23 18:52:14
 * @LastEditors: ssyx ssyx@gmail.com
 * @LastEditTime: 2022-09-23 20:16:24
 * @FilePath: \vsFile\myVscode\vue\vue基础\作业-留言.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="">
    <style>
        table input {
            width: 225px;
        }

        .content td,
        th {
            padding: 10px 30px;
        }
    </style>
</head>

<body>
    <div id="root">
        <table>
            <tr>
                <td>用户名：</td>
                <td> <input type="text" v-model="obj.userName"></td>
            </tr>
            <tr>
                <td>留言：</td>
                <td><textarea name="" id="" cols="30" rows="4" v-model="obj.content"></textarea></td>
            </tr>
            <tr>
                <td> <button @click="addTask">添加</button></td>
            </tr>
        </table>


        <table class="content">
            <tr>
                <th>用户名</th>
                <th>内容</th>
                <th>操作</th>
            </tr>
            <tr v-for="obj in arr ">
                <td>{{obj.userName}}</td>
                <td>{{obj.content}}</td>
                <td><button @click="delTask(obj)">删除</button></td>
            </tr>
        </table>
    </div>
    <script src="./js/vue.js"></script>
    <script>

        new Vue({
            el: "#root",
            data: {
                obj: {

                    userName: "",
                    content: ""
                },
                arr: localStorage.list == undefined ? [] : JSON.parse(localStorage.list)
            },
            methods: {

                addTask () {

                    this.arr.unshift({ ...this.obj });
                    localStorage.list = JSON.stringify(this.arr);
                    this.obj = { userName: "", content: "" }
                },
                delTask (obj) {
                    let index = this.arr.indexOf(obj);
                    let index2 = obj.nextId;
                    this.arr.splice(index, 1);
                    localStorage.list = JSON.stringify(this.arr)
                    // console.log(index);
                }
            }
        })
    </script>
</body>

</html>